.mat-toolbar {
  background-color: transparent;
}
.mat-tooltip {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: gray;
}
// gmail's search bar appearance
.mat-form-field-outline-start {
  display: none;
}
.mat-form-field-outline-end {
  border: none !important;
  border-radius: 1rem !important;
  background-color: #f1f3f4;
}
.mat-form-field-wrapper {
  padding: 0;
}
.mat-form-field-prefix {
  margin-right: 0.5rem;
}
