<router-outlet></router-outlet>
<mat-toolbar fxLayout fxLayoutAlign="start center" fxLayoutGap="1rem">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon class="logo">bug_report</mat-icon>
  <h1 class="title" routerLink="/">
    GitHub Issues
  </h1>
  <mat-form-field appearance="outline" floatLabel="never" class="search-bar">
    <button matPrefix mat-icon-button aria-label="Search" matTooltip="Search"
      (click)="fetchGithubIssues()">
      <mat-icon>search</mat-icon>
    </button>
    <input #repobox type="text" matInput placeholder="Search issues" matTooltip="user/repository" [(ngModel)]="repo"
      (keydown.enter)="fetchGithubIssues()">
    <button matSuffix mat-icon-button aria-label="Clear search" matTooltip="Clear search" (click)="clearInput(repobox)"
      [hidden]="repobox.value">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="This is a side project that recreates the Gmail webpage appearance. Just for fun :)">
    <mat-icon class="material-icons-outlined">settings</mat-icon>
  </button>
  <fa-icon [icon]="faGithub" class="logo" (click)="goToThisGithubRepo()"></fa-icon>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <button mat-raised-button class="add-issue-button">
      <mat-icon>add</mat-icon>
      Compose
    </button>
    <mat-selection-list #labelsList [multiple]="false" disableRipple>
      <mat-list-option *ngFor="let state of states" [value]="state.name" [matTooltip]="state.name"
        matTooltipPosition="right">
        <mat-icon mat-list-icon>{{ state.icon }}</mat-icon>
        {{ state.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div fxLayout="column" class="available-height" [ngStyle]="{'opacity': isLoadingResults ? '0.5' : '1'}">
    <section fxLayout fxLayoutAlign="space-between center">
      <div>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
        <button mat-icon-button style="margin-left: 1rem;">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-paginator [length]="resultsLength" pageSize="10" hidePageSize></mat-paginator>
    </section>
    <section>
      <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="created" matSortDirection="desc">

        <!-- Checkbox column and more buttons -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="display: none;">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-toolbar-cell *matHeaderCellDef hidden>
            Issue #
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-toolbar-cell *matHeaderCellDef hidden>
            Title
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-list aria-label="Issue state" class="state-chip">
              <mat-chip>
                {{ row.state }}
              </mat-chip>
            </mat-chip-list>
            {{ row.title }}
            <span class="gray">
              #{{ row.number }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created" [stickyEnd]="true">
          <th mat-toolbar-cell *matHeaderCellDef mat-sort-mat-toolbar disableClear hidden>
            Created
          </th>
          <td mat-cell *matCellDef="let row" class="row">
            <span class="shy-date">
              {{ row.created_at | date }}
            </span>
            <div class="actions">
              <mat-chip-list aria-label="View issue">
                <mat-chip class="quick-chip" (click)="openInNew(row.html_url)">
                  <span>
                    View issue
                  </span>
                  <mat-icon class="mini-arrow">call_made</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <button *ngFor="let action of actions" mat-icon-button [attr.aria-label]="action.name | titlecase"
                [matTooltip]="action.name | titlecase" class="action-button" (click)="action.method(row, action)">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;">
        </tr>
      </table>
    </section>
    <!-- <mat-divider vertical="true"></mat-divider>
    <section class="fullheight scroll">
      <pre *ngIf="dataSource?.data" class="plaintext wrap">{{ dataSource?.data | json }}</pre>
    </section> -->
  </div>
</mat-drawer-container>
