.gray {
  color: #666666;
}

.add-issue-button {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  // display: flex;
  // align-items: center;

  .add-icon {
    font-size: 2rem;
  }
}

// i dont know why this only works HERE in app.component.scss
.mat-chip {
  padding: 0 4px;
  border-radius: 4px;
  min-height: 21px;
  color: #666;
  font-weight: normal;
  font-size: 0.9em;
  cursor: inherit;
}

// states related to GithubAPI fetching
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mini-arrow {
  transform: scale(0.6);
}

.fullheight {
  height: 100%;
}

.scroll {
  overflow-y: scroll;
}

.plaintext {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  padding: 0 1.6rem;
}

.wrap {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.available-height {
  // 56px from mat-paginator
  // 1px from mat-divider
  height: calc(100% - 56px - 1px);
}
